@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";
@font-face {
  font-family: "pp-fragment-glare";
  src: url("./assets/PP\ Fragment\ Glare.ttf");
  font-weight: normal;
  font-style: normal;
}

.pp-font {
  font-family: "pp-fragment-glare";
}
.playfair-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}
